.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  background-color: #1572cfdc;
  border-bottom: 1px solid #e0e0e0;
  height: 5vh;
}

.nav {
  display: flex;
  justify-content: space-around; /* 或者使用 space-between */
  flex-grow: 1;
  margin-left: 80%; /* 推开按钮，使其占据右边的 70% */
}

.linkButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linkButton:hover {
  background-color: #0056b3;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
